{% extends 'base.html' %}

{% block content %}

<main class=" container py-5">
    <section class="card card-boddy">
        <h1 class="display-1 text center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At blanditiis incidunt recusandae facere quas, nam placeat voluptatum quod voluptates. Dolorum, minus culpa
        quam dignissimos doloribus voluptates, voluptatibus aperiam earum sint
        quas esse optio illo vel saepe voluptatum modi omnis tenetur suscipit consequatur cumque, voluptatem vero quae atque! Doloremque velit voluptas vel numquam, cum odit magni sit eaque ex, soluta iure blanditiis earum repellat
        deserunt nulla dignissimos reiciendis minus ducimus debitis. Nihil quia autem commodi sapiente! Beatae, ad. Illum aliquam commodi veniam magnam rerum neque ratione.
        Facilis similique repudiandae sequi quo eligendi nesciunt officia, quas obcaecati explicabo, necessitatibus laborum eos. Iste.
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}